@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.card{
    width: 160px;
    margin: 9px 11px;
    border: none;
    position: relative;
}
.card img{
    border-radius: 9px;
}
.card h5{
    font-size: 15px;
    font-weight: bold;
    margin: 29px 0;
    margin-bottom: 7px;
    text-align: left;
}
.carddate{
    text-align: left;
    margin-top: 9px;
    margin-bottom: 2px;
    color: rgb(94, 94, 94);
    font-size: 12px;
}
.ratings_circle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(63, 67, 110);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    left:6%;
    top: 9px;
    border: 1px solid rgb(153, 128, 128);
}
.ratings_circle p{
   color: rgb(238, 238, 238);
   font-size: 11px;
   margin-top: 15px;
   font-weight: bolder;
   margin-left: 2.1px;
   font-family: 'Roboto Slab', serif;
}